@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-background: #ffffff;
  --color-foreground: #09090b;
  
  --color-primary: #408bf5;
  --color-primary-foreground: #fafafa;
  
  --color-muted: #4d4de3;
  --color-muted-foreground: #71717a;
  
  --color-border: #e4e4e7;
  --color-input: #e4e4e7;
  --color-ring: #18181b;
  
  --color-destructive: #ef4444;
  --color-destructive-foreground: #fafafa;
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-background: #09090b;
    --color-foreground: #fafafa;
    
    --color-primary: #fafafa;
    --color-primary-foreground: #18181b;
    
    --color-muted: #27272a;
    --color-muted-foreground: #a1a1aa;
    
    --color-border: #27272a;
    --color-input: #27272a;
    --color-ring: #d4d4d8;
  }
}